<div class="container">
    <div class="d-flex justify-content-center">
        <h1 class="text-primary mb-3">DC vs Marvel Comics: Preview</h1>
    </div>
    <div class="d-flex justify-content-center mb-4">
        <h6>Read full comic <a class="text-danger"
                href="https://readcomiconline.li/Comic/DC-Versus-Marvel-Marvel-Versus-DC/Issue-1?id=49480&readType=1">Here</a>
        </h6>
    </div>
    <div class="d-flex justify-content-center mb-4">
        <div id="carouselExampleIndicators" class="carousel slide w-50" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/img/comic/01.JPG" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="assets/img/comic/02.JPG" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="assets/img/comic/03.JPG" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="assets/img/comic/04.JPG" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>