<div class="row g-4 py-5 row-cols-2 row-cols-lg-2">
    <div class="col">
        <h2 class="text-danger mb-2">Marvel Comics</h2>
        <img class="img-fluid mb-4" src="assets/img/Marvel_Comics.webp" alt="Marvel Comics">
        <p style="text-align: justify;">Marvel Comics began life as "Timely Publications" in 1939, with comic books
            featuring Captain America, Namor
            the Sub-Mariner and an early version of Human Torch. Legendary comics writer Stan Lee was hired as an office
            assistant in 1939. Within two years, the 19-year-old Lee was promoted to editor of the Marvel Comics line, a
            post that he would keep until 1972.
        </p>
        <p style="text-align: justify;">
            Everything changed in 1961, when Stan Lee and artist Jack Kirby ushered in "The Marvel Age of Comics" by
            creating The Fantastic Four which brought a new style of superhero comic that focused on the characters'
            internal drama as well as their heroic adventures. The style was a huge success, and the Lee/Kirby team went
            on to create the Incredible Hulk, Iron Man, the Mighty Thor, the X-Men, the Avengers, and the Inhumans. The
            prolific Lee worked with artist Steve Ditko to create Marvel's greatest success story, Spider-Man. Stan
            Lee's Marvel revolution extended beyond the characters and storylines to the way in which comic books
            engaged the readership and built a sense of community between fans and creators.
        </p>
        <p style="text-align: justify;">
            Marvel Comics have been translated all over the world, and in many languages, most notably in Europe (Arédit
            and Marvel France imprints) and Québec, Canada (Éditions Héritage).
        </p>
        <p style="text-align: justify;">
            Today, Marvel's heroes are blockbuster stars on the silver screen; with Spider-Man, Iron Man, the X-Men,
            Wolverine, Deadpool, Captain America, the Hulk, the Avengers, the Guardians of the Galaxy, Ant-Man and
            numerous others becoming regular features of the summer movie season. Additionally, heroes like the
            Defenders, the Agents of S.H.I.E.L.D., Runaways, Daredevil, Jessica Jones, Luke Cage, the Punisher and
            others have found success on the small screen.
        </p>
    </div>
    <div class="col">
        <h2 class="text-primary mb-2">DC Comics</h2>
        <img class="img-fluid mb-4" src="assets/img/DC_Comics.webp" alt="DC Comics">
        <p style="text-align: justify;">
            DC Comics, Inc. is one of the largest American companies in comic books and related media publishing. It is
            the comics publishing branch of DC Entertainment, Inc., a subsidiary of WarnerMedia (formerly Time Warner),
            a publishing conglomerate owned by AT&T. For decades, DC Comics has been one of the two largest American
            comic book companies, along with Marvel Comics. The initials "DC" were originally an abbreviation for
            Detective Comics, and later the official name.
        </p>
        <p style="text-align: justify;">
            Originally located in New York City at 432 Fourth Avenue, DC has been successively headquartered at 480 and
            later 575 Lexington Avenue; 909 Third Avenue; 75 Rockefeller Plaza; 666 Fifth Avenue; and 1325 Avenue of the
            Americas (in 1992). DC took over several floors when it moved to 1700 Broadway in the mid-1990s, relocating
            there with fellow Time Warner property MAD Magazine, which moved there from 485 Madison Avenue. In 2015, the
            entire operation was moved to Burbank, California.
        </p>
    </div>
</div>